* {
  color: rgb(7, 1, 1);
  background: lightskyblue;
  font-family: "Times New Roman", Times, serif;
}

h1 {
  display: flex;
  justify-content: center;
  font-size: xx-large;
}

#form1 {
  display: flex;
  justify-content: center;
}

input {
  background-color: rgb(255, 255, 179);
  text-align: center;
}

button {
  background-color: rgb(255, 242, 105);
}

.forecast {
  display: flex;
  justify-content: center;
  font-size: larger;
  font-weight: bold;
  color: black;
}


.icons {
  margin-top: 10px;
  border: 15px solid rgb(36, 181, 36);
  border-radius: 10px;
}

.image {
  display: flex;
  justify-content: center;
}

.weather {
  display: flex;
  justify-content: center;
  margin: 5px;
  text-align: center;
  font-weight: bold;
}

.tempValues {
  display: flex;
  justify-content: center;
  text-align: center;
  height: auto;
  width: auto;
  margin: 0;
  padding: 10px;
}

.windValues {
  display: flex;
  justify-content: center;
  text-align: center;
  height: auto;
  width: auto;
  margin: 0;
  padding: 10px;
}

.humidityValues {
  display: flex;
  justify-content: center;
  text-align: center;
  height: auto;
  width: auto;
  margin: 0;
  padding: 10px;
}

.date {
  display: flex;
  justify-content: center;
  text-align: center;
  height: auto;
  width: auto;
  margin: 0;
  padding: 10px;
}

ul {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 435px;
  list-style-type: none;
  font-size: large;
  font-weight: bolder;
}

li:hover {
  cursor: pointer;
  color: grey;
}

li {
  display: flex;
  justify-content: center;
  font-size: x-large;
  background-color: snow;
  border: lightgrey solid;
  width: 200px;
}
